#searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 4vh;
}

#searchbar-container div, form {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#searchbar {
    background-color: white;
    color: black;
    padding: 1vh;
    width: 20vw;
    border-color: lightgray;
    border-radius: 10px;
    background-image: url('../assets/search.png');
    background-position: calc(20vw - 20px);
    background-repeat: no-repeat;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: lightgreen;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px lightgreen;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}