#project-container {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 4vh;
}

#project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#project-buttons{
    margin-bottom: 2vh;
}

#task-list-container {
    display: flex;
    overflow: auto;
}

/* #task-left-section {

} */

#task-right-section {
    display: flex;
    gap: 2.5em;
}

.task-modal {
    background-color: white;
    box-sizing: border-box;
    border: solid black 2px;
    border-radius: 10px;
    padding: 2.5em;
    display: flex;
    gap: 5em;
}

.task-modal textarea {
    resize: none;
    background-color: white;
    color: black;
    width: 25em;
    height: 5em;
}

#project-modal {
    background-color: white;
    box-sizing: border-box;
    border: solid black 2px;
    border-radius: 10px;
    padding: 2.5em;
    padding-top: 1em;
}

#project-modal textarea {
    resize: none;
    background-color: white;
    color: black;
    width: 20em;
    height: 5em;
}

#radio-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
}

.radio {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#connection-send-modal {
    background-color: white;
    box-sizing: border-box;
    border: solid black 2px;
    border-radius: 10px;
    padding: 2.5em;
}
